---
import Layout from "../../layouts/Layout.astro";
let posts = await Astro.glob('./*.md');

posts = posts.sort((a, b) => {
  let aDate = new Date(a.frontmatter.date)
  let bDate = new Date(b.frontmatter.date)

  // getTime is milliseconds since Jan 1, 1970, 00:00:00.000 GMT
  return (
    -1 * (aDate.getTime() - bDate.getTime())
  )
})
---

<Layout content prose>
  <ul class="flex flex-col gap-y-size-lg">
    {posts.map((post, i) => {
    // get slug of file name
    let slug = post.file.match(/([\w-_]*).md$/)[1]

    return (
    <li
      class="block px-size-3xs prose:px-size-xs py-size-sm hover:bg-mine-shaft-200/30 hover:shadow-md border-y-2 border-transparent hover:border-mine-shaft-600 dark:hover:bg-mine-shaft-700 dark:hover:shadow-none relative ">
      <a href={`/blog/${slug}`}
        class="block">
        <h2
          class="cursor-pointer tracking-tightest font-white dark:font-mine-shaft-900 text-size-1 font-bold"
          set:html={post.frontmatter.title} />
      </a>

      <div class="prose mt-size-sm text-size-0">
        <p set:html={post.frontmatter.description}></p>  
      </div>
    </li>
    );
    })}
  </ul>
</Layout>
