main,
header,
article {
	--content-width: 768px;
}

.content {
	color: var(--color-zinc-800);
	margin-top: var(--size-md);
	margin-bottom: var(--size-md);
	--flow-space: var(--size-sm);
	display: grid;
	grid-template-columns:
		var(--size-2xs-xs) var(--size-2xs-xs)
		min(var(--content-width), calc(100% - 4 * var(--size-2xs-xs)))
		var(--size-2xs-xs) var(--size-2xs-xs);
	padding: 0;
}
@media (min-width: 768px) {
	.content {
		grid-template-columns: 2fr 1fr min(var(--content-width), 100%) 1fr 2fr;
		padding: 0;
	}
}
@media (min-width: 1024px) {
	.content {
		grid-template-columns: 2fr 128px min(var(--content-width), 100%) 128px 2fr;
		padding: 0;
	}
}

/* Sometimes one layer in on content when using `display: contents` */
.content > *,
.content > astro-island > *,
.content > astro-slot > *,
.content > [data-rehype-pretty-code-fragment] > *,
.content > .astro-code {
	grid-column: 3;
}

/* Large Block */
.content > .wide-bleed {
	width: 100%;
	margin-top: var(--size-xl);
	grid-column: 2 / 5;
	border-width: 2px;
	padding: var(--size-md-lg) var(--size-sm-md);
	overflow-x: auto;
}
/* Negative margin on repeated wide-bleed */
.content > .wide-bleed + .wide-bleed {
	z-index: 10;
	margin-top: 0;
	border-top: 0;
}
.content > .wide-bleed + :is(:not(.wide-bleed)) {
	margin-top: var(--size-xl);
}
@media (max-width: 1040px) {
	.content > .wide-bleed {
		grid-column: 1 / 6;
		border-width: 2px 0 2px 0;
		border-radius: 0;
	}
}

.content > .figure {
	width: 100%;
	margin-top: var(--size-xl);
	grid-column: 3 / 4;
	border-width: 2px;
	padding: var(--size-sm) var(--size-sm);
	overflow-x: auto;
}
/* Negative margin on repeated wide-bleed */
.content > .figure + .figure {
	z-index: 10;
	margin-top: 0;
	border-top: 0;
}
.content > .figure + :is(:not(.figure)) {
	margin-top: var(--size-xl);
}
@media (max-width: 1040px) {
	.content > .figure {
		grid-column: 1 / 6;
		border-width: 2px 0 2px 0;
		border-radius: 0;
	}
}

/* Full Bleed */
.content > .full-bleed {
	width: 100%;
	grid-column: 1 / 6;
}

/*** 
FLOW 
***/

.flow > * + * {
	margin-top: var(--flow-space, --size-sm-md);
}
.flow :is(h1, h2) {
	--flow-space: var(--size-2xl);
}
.flow :is(h3) {
	--flow-space: var(--size-xl);
}
.flow :is(p, li) {
	font-size: var(--size-0);
	max-width: 80ch;
}
.flow :is(ol, ul) > li + li {
	margin-top: var(--size-xs);
}

/***
* PROSE 
***/

/* Typography */
.prose > * + * {
	margin-top: var(--flow-space, --size-sm-md);
}

/* Text */
.prose :where(p):not(:where([class~="not-prose"] *)) {
	font-size: var(--size-0);
	max-width: 80ch;
	line-height: 1.5;
}

/* Link */
.prose :where(a):not(:where([class~="not-prose"] *)) {
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-decoration-color: var(--color-zinc-400);
}
.prose :where(a:hover):not(:where([class~="not-prose"] *)) {
	text-decoration-color: var(--color-kyle-highlight);
}

/* Headings */
.prose :where(h1):not(:where([class~="not-prose"] *)) {
	font-size: var(--size-2);
	font-weight: bold;
	--flow-space: var(--size-xl-2xl);
	line-height: 1.1;
  margin-left: -16px;
  border-left-width: 3px;
  border-left-color: var(--color-kyle-highlight);
  padding-left: 16px;
  text-indent: -2px;
  font-weight: 700;
}
.prose :where(h2):not(:where([class~="not-prose"] *)) {
	font-weight: bold;
	font-size: var(--size-1);
	border-bottom: 2px;
	border-style: dashed;
	border-color: var(--color-zinc-200);
	padding-top: var(--size-2xs);
	padding-bottom: var(--size-2xs);

	--flow-space: var(--size-xl-2xl);
	line-height: 1.1;
}
.prose :where(h3):not(:where([class~="not-prose"] *)) {
	font-size: var(--size-0);
	font-style: italic;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: var(--color-zinc-200);
	padding-top: var(--size-2xs);
	padding-bottom: var(--size-2xs);

	--flow-space: var(--size-xl-2xl);
	line-height: 1.1;
}
.prose > :is(h1, h2, h3) + p {
	--flow-space: var(--size-md);
}

/* Katex */
.katex-display {
	overflow-y: hidden;
	overflow-x: auto;
	height: max-content;
	margin-bottom: unset !important;
	margin-top: var(--size-xs);
}
.katex {
	font-size: 1em !important;
	line-height: unset;
}
.katex-display > .katex {
	font-size: 1.21em !important;
	padding-left: 1em !important;
	text-align: left !important;
	border-left-width: 2px;
  border-color: var(--color-kyle-highlight);
	/* border-color: var(--color-zinc-200); */
  padding-top: var(--size-3xs);
  padding-bottom: var(--size-3xs);
}
.prose .katex-display + p {
	--flow-space: var(--size-sm);
}

/* Blockquote */
.prose > :is(blockquote) {
	border-left: 2px;
	border-color: var(--color-zinc-200);
	padding-top: var(--spacing-size-2xs);
	padding-bottom: var(--spacing-size-2xs);
	padding-left: calc(3ch - 2px);
}
.prose > :is(blockquote) > p {
	max-width: 72ch;
}

/* List */
.prose > :is(ol, ul) {
	padding-left: 1ch;
}
.prose > :is(ol, ul) > li {
	max-width: 72ch;
}
.prose :where(ul):not(:where([class~="not-prose"] *)) {
	padding-left: var(--spacing-size-3xs);
	list-style-position: inside;
	list-style-type: decimal;

	@media (width >= 1024px) {
		padding-left: 1.5555556em;
	}
	& *::marker {
		color: var(--color-kyle-highlight) /* oklch(0.705 0.015 286.067) = #9f9fa9 */;
	}
	&::marker {
		color: var(--color-kyle-highlight) /* oklch(0.705 0.015 286.067) = #9f9fa9 */;
	}
}
.prose :where(ol):not(:where([class~="not-prose"] *)) {
	list-style-position: inside;
	list-style-type: decimal;
	& *::marker {
		color: var(--color-kyle-highlight) /* oklch(0.705 0.015 286.067) = #9f9fa9 */;
	}
	&::marker {
		color: var(--color-kyle-highlight) /* oklch(0.705 0.015 286.067) = #9f9fa9 */;
	}
}
.prose :where(li):not(:where([class~="not-prose"] *)) {
	font-size: var(--size-0);
	font-style: norma;
	max-width: 80ch;
}
.prose :where(:is(ol, ul) > li + li):not(:where([class~="not-prose"] *)) {
	margin-top: var(--size-xs);
}
.prose :where(:is(ol, ul) > li > p):not(:where([class~="not-prose"] *)) {
	display: inline;
}

/* Code Blocks */
pre {
	border-width: 2px;
	border-color: var(--color-zinc-200);
	padding: 1rem;
	overflow-x: auto;
	display: block;
}
pre > code {
	display: grid;
}
pre > code > .line {
	min-height: 1.5em;
}
pre > code > .line:not(:empty) {
	background-color: transparent;
}
code {
	font-size: 0.88em;
}
.language-id {
	display: none;
}

/* Useful classes */
.offset-border-left {
  margin-left: -16px;
  border-left-width: 3px;
  border-left-color: var(--color-kyle-highlight);
  padding-left: 16px;
  text-indent: -2px;
}
