:root {
  /* https://utopia.fyi/type/calculator?c=320,18,1.125,1240,20,1.2,5,2,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l&g=s,l,xl,12 */
  --size-base: 1rem;
  --size--2: clamp(0.8681rem, 0.8959rem + -0.0359vw, 0.8888rem);
  --size--1: clamp(1rem, 0.9854rem + 0.0728vw, 1.0419rem);
  --size-0:  clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --size-1:  clamp(1.2656rem, 1.1841rem + 0.4076vw, 1.5rem);
  --size-2:  clamp(1.4238rem, 1.2929rem + 0.6543vw, 1.8rem);
  --size-3:  clamp(1.6019rem, 1.4077rem + 0.9707vw, 2.16rem);
  --size-4:  clamp(1.8019rem, 1.5271rem + 1.3739vw, 2.5919rem);
  --size-5:  clamp(2.0275rem, 1.6508rem + 1.8837vw, 3.1106rem);

  /* https://utopia.fyi/space/calculator?c=320,24,1.125,1240,28,1.125,5,2,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l&g=s,l,xl,12 */
  --size-3xs:     clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --size-2xs:     clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --size-xs:      clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --size-sm:      clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --size-md:      clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --size-lg:      clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --size-xl:      clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --size-2xl:     clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --size-3xl:     clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);
  --size-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
  --size-2xs-xs:  clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  --size-xs-sm:   clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  --size-sm-md:   clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
  --size-md-lg:   clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
  --size-lg-xl:   clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  --size-xl-2xl:  clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
  --size-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);
}
