@import url(fluid.css); /* Defines fluid type and spacing variables */
@import url(content.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  line-height: 1.5;
}

/* Code Blocks */
pre {
  @apply border-[1px] border-mine-shaft-200 p-4;
  overflow-x: auto;
  display: block
}
pre > code {
	display: grid;
}
.language-id {
  display: none;
}

