@import url(fluid.css); /* Defines fluid type and spacing variables */
@import url(content.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  line-height: 1.5;
}

/* Load Fonts */
@font-face {
	font-family: "Libertine";
	src: url("/fonts/LinuxLibertine_Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Libertine";
	src: url("/fonts/LinuxLibertine_Italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Libertine";
	src: url("/fonts/LinuxLibertine_Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Libertine";
	src: url("/fonts/LinuxLibertine_BoldItalic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
/* @font-face {
  font-family: 'Libertine';
  src: url('/fonts/LinuxLibertine_SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Libertine';
  src: url('/fonts/LinuxLibertine_SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
} */



/* Code Blocks */
pre {
  @apply border-[1px] border-mine-shaft-200 p-4;
  overflow-x: auto;
  display: block
}
pre > code {
	display: grid;
}
code {
  font-size: 0.88em;
}
.language-id {
  display: none;
}

