<div class="not-prose flex items-center gap-x-size-sm">

  <img id="memoji" class="rounded-xl" src="/images/memoji_1.webp"
    alt="A memoji of Kyle Butts with a kazoo"
    style="width: auto; height: 170px;" />

  <h2
    class="text-size-2 decoration-6 font-bold underline decoration-alice-400 decoration-4">
    Hi!
  </h2>
</div>

<script is:inline>
  document.querySelector('#memoji').addEventListener('mouseover', function () {
    this.src = '/images/memoji_2.webp';
  })
  document.querySelector('#memoji').addEventListener('mouseout', function () {
    this.src = "/images/memoji_1.webp";
  });
</script>
