<div class="not-prose flex items-center gap-x-size-sm">
  <img id="memoji" src="/images/memoji_3.webp"
    alt="A memoji of Kyle Butts face-palming" class="m-0 rounded-full"
    style="width: auto; height: 170px" />

  <h2
    class="text-size-2 decoration-6 font-bold underline decoration-zinc-400 decoration-4">
    Uh oh!
  </h2>
</div>

