---
import PaperTitle from "../../../components/PaperTitle.astro"
import BaseLayout from "../../../layouts/BaseLayout.astro"

const { slug } = Astro.params;

let papers = await Astro.glob("../../papers/*.mdx")

// get correct paper
let paper = papers.filter((paper) => {
  let fileSlug = paper.file.match(/([\w-_]*).mdx$/)[1]
  return (fileSlug === slug)
})[0]

export async function getStaticPaths() {
  let papers = await Astro.glob("../../papers/*.mdx");
  // Export paths
  let paths = papers.map((paper) => {
    let slug = paper.file.match(/([\w-_]*).mdx$/)[1]
    return { params: { slug: slug}}
  })
  return paths;
}
---

<BaseLayout>
	<div
		id="og-image"
		class="mx-auto px-size-xs pt-size-2xl border-2 border-mine-shaft-800"
		style="width: 900px; height: 600px;"
	>
    <PaperTitle frontmatter={paper.frontmatter} />
	</div>
</BaseLayout>
