---
const { kelly = false, coral = false, daisy = false, alice = false} = Astro.props
---

<span class:list={[
  "rounded-[5px] py-[3px] px-[5px] text-mine-shaft-100",
  {"bg-kelly-500": kelly},
  {"bg-coral-500": coral},
  {"bg-daisy-500": daisy},
  {"bg-alice-500": alice},
  {"bg-ruby-500": !kelly && !coral && !daisy && !alice}
]}><slot /></span>
