---
const { kelly = false, coral = false, daisy = false, alice = false } = Astro.props
--- 

<span class:list={[
  {"text-kelly-500": kelly},
  {"text-coral-500": coral},
  {"text-daisy-500": daisy},
  {"text-alice-500": alice},
  {"text-ruby-500": !kelly && !coral && !daisy && !alice}
]}><slot /></span>
