---
import { items } from './data';
---

<ul class="gap-x-size-xs-sm hidden prose:flex text-size-0 font-light">
  {items.map((item, i) => (
  <li class="relative hover:underline focus:underline decoration-alice-400">
  </li>
  ))}
</ul>
