---
const items = [
  { name: "Papers", link: "/papers/" },
  { name: "Open Source", link: "/open-source/" },
  { name: "Teaching", link: "/teaching/" },
  { name: "Blog", link: "/blog/" },
];
---

<ul class="gap-size-xs-sm flex flex-wrap text-size-0 font-light">
  {items.map((item) => (
    <li class="relative hover:underline decoration-zinc-400">
      <a href={item.link}>{item.name}</a>
    </li>
  ))}
</ul>
