---
import PaperTitle from "../../components/PaperTitle.astro"
import BaseLayout from "../../layouts/BaseLayout.astro"
---

<BaseLayout>
	<div
		id="og-image"
		class="mx-auto px-size-lg pt-size-2xl"
		style="width: 900px; height: 600px;"
	>
		<img
			id="memoji"
			class="rounded-xl grow-0 mt-size-lg"
			src="/images/memoji_2.webp"
			alt="A memoji of Kyle Butts with a kazoo"
			style="width: auto; height: 170px;"
		/>
		<h1 class="mt-size-lg text-size-2 font-bold tracking-tighter">Kyle Butts</h1>
		<h3 class="text-alice-400 text-size-1">Urban Economics and Applied Econometrics</h3>
	</div>
</BaseLayout>
