---
import MenuBar from "../components/MenuBar/MenuBar.astro"
import IncludeKatex from "../components/IncludeKatex.astro"
import LoadFonts from "../components/font/LoadFonts.astro"
import { ClientRouter } from "astro:transitions"

import "../styles/global.css"

// og-image by slug
const {
	description = "Kyle Butts -- Urban Economics and Applied Econometrics",
	katex = false,
} = Astro.props
const ogImage = `https://kylebutts.com/og-images/default.png`
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link id="dynamic-favicon" rel="icon" type="image/x-icon" href="/favicon.png" />
		<title>Kyle Butts</title>
		<meta name="description" content={description} />
		<meta property="og:image" content={ogImage} />
		<meta property="twitter:image" content={ogImage} />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Kyle Butts" />
		<meta name="twitter:description" content={description} />

		<!-- <ClientRouter /> -->
		<LoadFonts />
		<!-- Include katex -->
		{katex && <IncludeKatex />}
		<!-- Default color needs to be set up here inline to avoid any flashes of the wrong color -->
		<script is:inline>
			const colors = [
				"kyle-magenta",
				"kyle-yellow",
				"kyle-blue",
				"kyle-rose",
				"kyle-green",
				"kyle-purple",
				"kyle-orange",
			]
			// Load theme from local storage or default to 0
			const root = document.documentElement
			const storedColor = localStorage.getItem("color")
			let color = storedColor || colors[0]
      function changeFavicon(src) {
				let link = document.createElement("link")
        let oldLink = document.getElementById("dynamic-favicon")
				link.id = "dynamic-favicon"
				link.rel = "shortcut icon"
        link.type="image/x-icon"
				link.href = src
				if (oldLink) {
					document.head.removeChild(oldLink)
				}
				document.head.appendChild(link)
			}

			root.style.setProperty("--kyle-selected", "var(--color-" + color + ")")
      changeFavicon("/favicon/favicon_" + color + ".png")
		</script>
	</head>

	<body
		class="leading-[1.5] min-h-screen w-full bg-white font-serif text-zinc-900 pb-size-lg"
	>
		<header transition:persist class="content">
			<MenuBar />
		</header>

		<!-- Main  -->
		<slot />

		<!-- Instantiate Color Picker -->
		<script>
			const colors = [
				"kyle-magenta",
				"kyle-purple",
				"kyle-blue",
				"kyle-yellow",
				"kyle-cranberry",
				"kyle-orange",
				"kyle-rose",
				"kyle-green",
			]
			let color = localStorage.getItem("color") || colors[0]
			const themeChooser = document.getElementById("themeChooser")
			const root = document.documentElement
			if (themeChooser) {
				themeChooser.addEventListener("click", () => {
					// indexOf could be -1 but that would be fine in this case
					color = colors[(colors.indexOf(color) + 1) % colors.length]
					console.log(color)
					localStorage.setItem("color", color)
					root.style.setProperty(
						"--kyle-selected",
						"var(--color-" + color + ")"
					)

          function changeFavicon(src) {
            let link = document.createElement("link")
            let oldLink = document.getElementById("dynamic-favicon")
            link.id = "dynamic-favicon"
            link.rel = "shortcut icon"
            link.type="image/x-icon"
            link.href = src
            if (oldLink) {
              document.head.removeChild(oldLink)
            }
            document.head.appendChild(link)
          }
          changeFavicon("/favicon/favicon_" + color + ".png")
				})
			}
		</script>
	</body>
</html>
