---
import Content from "../components/Content.astro";
import MenuBar from "../components/MenuBar/MenuBar.astro";
import SetupDarkMode from "../components/MenuBar/SetupDarkMode.astro";

import "../styles/global.css"

// JetBrains Mono
import '@fontsource/jetbrains-mono/100.css';
import '@fontsource/jetbrains-mono/300.css';
import '@fontsource/jetbrains-mono/300-italic.css';
import '@fontsource/jetbrains-mono/700.css';
import '@fontsource/jetbrains-mono/800.css';
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title>Kyle Butts</title>
  <meta name="description" content="Academic site for Kyle Butts.">
</head>

<body>
  <SetupDarkMode />

  <div
    class="min-h-screen w-full bg-mine-shaft-100 font-jetbrains text-mine-shaft-900 dark:bg-mine-shaft-900 dark:text-mine-shaft-50">
    <div class="pt-size-xs prose:pt-size-sm-md pb-size-2xl">
      <Content >
        <MenuBar client:load />
      </Content>
        <slot />
    </div>
  </div>

  <!-- Katex for equations -->
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.15.0/dist/katex.min.css"
    cross-origin="anonymous"
    rel="preload"
  />
</body>

</html>
