---
import Content from "../components/Content.astro";
import MenuBar from "../components/MenuBar/MenuBar.astro";
import SetupDarkMode from "../components/MenuBar/SetupDarkMode.astro";

import "../styles/global.css"

// JetBrains Mono
import '@fontsource/jetbrains-mono/200.css';
import '@fontsource/jetbrains-mono/200-italic.css';
import '@fontsource/jetbrains-mono/300.css';
import '@fontsource/jetbrains-mono/300-italic.css';
import '@fontsource/jetbrains-mono/700.css';
import '@fontsource/jetbrains-mono/800.css';

// og-image by slug
const { 
  slug = "default",
  description = "Kyle Butts -- Urban Economics and Applied Econometrics"
} = Astro.props

let ogImage = `https://kylebutts.com/og-images/${slug}.png`
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title>Kyle Butts</title>
  <meta name="description" content={description} >
  <meta property="og:image" content={ogImage} />
  <meta property="twitter:image" content={ogImage} />
</head>

<body>
  <!-- Set theme on body -->
  <SetupDarkMode />

  <div
    class="min-h-screen w-full bg-mine-shaft-100 font-jetbrains text-mine-shaft-900 dark:bg-mine-shaft-900 dark:text-mine-shaft-50">
    <div class="pt-size-xs prose:pt-size-sm-md pb-size-2xl">
      <Content >
        <MenuBar />
      </Content>
        
      <slot />
    </div>
  </div>

  <!-- Katex for equations -->
  <script>
    // Load after the main thread is finished
    var cb = function() {
      var l = document.createElement('link');
      l.rel = 'stylesheet';
      l.crossOrigin = "anonymous";
      l.href = 'https://cdn.jsdelivr.net/npm/katex@0.15.0/dist/katex.min.css';
      var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);
</script>
</body>

</html>
