---
import Block from "../components/Block.astro"
import MenuBar from "../components/MenuBar/MenuBar.astro"
import IncludeKatex from "../components/IncludeKatex.astro"
import LoadFonts from '../components/font/LoadFonts.astro'

import "../styles/global.css"

// og-image by slug
const {
	slug = "default",
	description = "Kyle Butts -- Urban Economics and Applied Econometrics",
	katex = false,
} = Astro.props
const ogImage = `https://kylebutts.com/og-images/default.png`
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>Kyle Butts</title>
		<meta name="description" content={description} />
		<meta property="og:image" content={ogImage} />
		<meta property="twitter:image" content={ogImage} />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Kyle Butts" />
		<meta name="twitter:description" content={description} />

    <LoadFonts />
	</head>

	<body
		class="min-h-screen w-full bg-white font-serif text-zinc-900 pb-size-lg"
	>
		<header class="content">
			<MenuBar />
		</header>

		<!-- Main  -->
		<slot />

		<!-- Include katex -->
		{katex && <IncludeKatex />}
	</body>
</html>
