---
import Layout from "../../layouts/Layout.astro"
import { getCollection } from "astro:content"
import { Icon } from "astro-icon"
const repos = await getCollection("open-source")
---

<Layout content prose>
	<ul
		role="list"
		class="gap-size-sm columns-1 md:columns-2 lg:columns-3 space-y-size-sm"
	>
		{
			repos.map((repo, i) => {
        // get base URL
        const url = new URL(repo.data.url)
        const baseUrl = url.origin.replace(/^https?:\/\//, "")

				return (
					<a href={repo.data.url} class="block cursor-pointer break-inside-avoid">
						<li
							class=""
							class:list={[
								"group relative flex flex-col items-start rounded-lg border-2 border-mine-shaft-200 transition-all duration-100 bg-mine-shaft-50 dark:bg-mine-shaft-800 dark:border-mine-shaft-700 shadow-sm p-size-xs md:p-size-sm hover:border-alice-300 dark:hover:border-alice-600 hover:cursor-pointer py-size-sm",
							]}
						>
							<h2
								class="text-size-0 font-semibold text-zinc-800 dark:text-zinc-100"
								set:html={repo.data.title}
							/>

							<p
								class="prose mt-size-sm text-size--1 text-mine-shaft-600 dark:text-mine-shaft-400"
								set:html={repo.data.description}
							/>

							<p class="align-self-end relative z-10 mt-size-sm flex text-sm font-medium text-zinc-400 transition">
								<Icon
									name="heroicons-outline:link"
									class="block h-3 w-3 flex-none text-kelly-500 dark:text-kelly-400 lg:h-5 lg:w-5"
								/>
								<span class="ml-2">{baseUrl}</span>
							</p>
						</li>
					</a>
				)
			})
		}
	</ul>
</Layout>
